.departments {
  margin-bottom: 6rem;
}

.departments .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.department {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.8rem;
  height: 18rem;
}

.department:hover {
  opacity: 0.8;
}

.department__content {
  color: var(--color-text-light);
  text-align: center;
}

.department--women {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../assets/images/department-women.webp) no-repeat center/cover;
}

.department--men {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../assets/images/department-men.webp) no-repeat center/cover;
}

.department--beuaty {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../assets/images/department-beauty.webp) no-repeat center/cover;
}

.department--accesories {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../assets/images/department-accesories.webp) no-repeat
      center/cover;
}

.department h2 {
  font-size: 2.6rem;
}

.department p {
  font-size: 1.4rem;
}

@media (min-width: 1040px) {
  .departments .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
  }

  .department {
    height: 22rem;
  }
}
