.product-card {
}

.product-card__img {
  width: 100%;
  height: 20rem;
  margin-bottom: 1.6rem;
  object-fit: contain;
}

.product-card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card__title {
  font-size: 1.4rem;
  font-family: var(--font-headings);
  margin-bottom: 0.6rem;
}

.product-card__price {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
}

@media (min-width: 1040px) {
  .product-card__title {
    font-size: 1.6rem;
  }

  .product-card__price {
    font-size: 1.6rem;
  }
}
