.home__col {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .home__col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1040px) {
  .home__col {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
}
